cohorts/2022/05*/Pyt*
__pycache__/
08-midterm-project/*.json
08-midterm-project/data/*.csv
08-midterm-project/notebooks/.cache
cohorts/2022/08*/test
cohorts/2022/08*/train
cohorts/2022/08*/*.zip
09-serverless/code/clothing-model*